@model Desafio_CRUD_CSharp.Models.Usuarios

@{
    ViewBag.Title = "Consultar";
}

<h2>Consultar</h2>

<div>
    @*<h4>Usuario</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonePessoal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonePessoal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefoneComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefoneComercial)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdUsuario }) |
    @Html.ActionLink("Voltar", "Index")
</p>
