@using PagedList.Mvc;
@model PagedList.IPagedList<Desafio_CRUD_CSharp.Models.Usuarios>


@*@model IEnumerable<Desafio_CRUD_CSharp.Models.Usuarios>*@

@{
    ViewBag.Title = "Home";
}

@*<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css"/>
    <script type="text/javascript" src="~/Scripts/filtro.js"></script>*@

<h2>Contatos</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>

@using (Html.BeginForm("Index", "Usuarios", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Filtrar" />
    </p>
}

<table class="table" id="table-usuarios">
    <tr>
    <tr>

        <th>
            @Html.ActionLink("Nome", "Index", new { Ordenacao = ViewBag.NomeOrdenacaoParm })
        </th>

        <th>
            @Html.ActionLink("Empresa", "Index", new { Ordenacao = ViewBag.EmpresaOrdenacaoParm })
        </th>

        <th>
            @Html.ActionLink("Email", "Index", new { Ordenacao = ViewBag.EmailOrdenacaoParm })
        </th>

        @*<th>
            @Html.ActionLink("Telefone Pessoal", "Index", new { Ordenacao = ViewBag.TelefonePessoalOrdenacaoParm })
        </th>*@
        <th>
            Telefone Pessoal
        </th>
        @*<th>
        @Html.ActionLink("Telefone Comercial", "Index", new { Ordenacao = ViewBag.TelefoneComercialOrdenacaoParm })
        </th>*@
        <th>
            Telefone Comercial
        </th>
        <th>
            Ações
        </th>
        @*<th></th>*@

    </tr>


    @*original*@
    
    @*<th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>*@


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonePessoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneComercial)
            </td>

            @*<td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modified)
                </td>*@
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdUsuario }) |
                @Html.ActionLink("Consultar", "Details", new { id = item.IdUsuario }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.IdUsuario })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount 

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, Ordenacao = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}))

<script>
    $(document).ready(function() {
        $("#table-usuarios").DataTable();
    });
</script>

